@using CodeBase.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>The place to learn to learn everything you need to know about your favourite programming languages.</p>
</div>
