@model CodeBase.Web.ViewModels.Courses.CoursesListViewModel

@{
    ViewData["Title"] = "Courses";
}

@foreach (var course in Model.Courses)
{
    <div class="card text-center">
        <div class="card-header">
            @course.Difficulty
        </div>
        <div class="card-body">
            <h5 class="card-title">@course.Name</h5>
            <p class="card-text">@course.Price</p>
            <a href="#" class="btn btn-primary">Purchase Course</a>
        </div>
        <div class="card-footer text-muted">
            @course.Tag.Name
        </div>
    </div>
}

