@model CodeBase.Web.ViewModels.Lectures.LectureViewModel

@{
    ViewData["Title"] = "Lecture";
}

<div>Name @Model.Name</div>
<div>Content @Model.Content</div>
<div>ReadTime @Model.ReadTime</div>
<div>@Model.Id</div>